In [ ]:
import openpyxl
import pandas as pd

In [ ]:
wb_members = openpyxl.load_workbook('従業員集約.xlsx', data_only=True)
wb_members

In [ ]:
names = wb_members.sheetnames

In [ ]:
name = names[0]
name

In [ ]:
wb_members[name]

In [ ]:
df_name = pd.read_excel('従業員集約.xlsx', sheet_name=name)

In [ ]:
df_name

In [ ]:
start_date = '2021-10-1'
end_date = '2021-10-31'

In [ ]:
df_name['日付'] >= start_date

In [ ]:
df_name['日付'] <= end_date

In [ ]:
df_name_filtered = df_name[(df_name['日付'] >= start_date) & (df_name['日付'] <= end_date)]
# []で条件を括ると合致したデータフレームが表示される。
df_name_filtered

In [ ]:
total_working_hour = df_name_filtered['勤務時間'].sum()
total_working_hour

In [ ]:
hour = int(df_name_filtered['勤務時間'].sum()/60)
hour

In [ ]:
minute = df_name_filtered['勤務時間'].sum()%60
minute

In [ ]:
total_working_hour = f'{hour}:{minute}'
total_working_hour

In [ ]:
# 勤務時間を計算する関数 ※勤務時間カラムを引数に設定する。
def to_hour(df):
    hour = int(df_name_filtered['勤務時間'].sum()/60)
    minute = df_name_filtered['勤務時間'].sum()%60
    total_working_hour = f'{hour}:{minute}'
    return total_working_hour

to_hour(df_name_filtered['勤務時間'])

In [ ]:
# 総労働時間
total_working_hour = to_hour(df_name_filtered['勤務時間'])

In [ ]:
# 勤務日数
working_days = len(df_name_filtered[df_name_filtered['勤務時間'] != 0])

In [ ]:
# 交通費
transportation_expense = df_name_filtered['交通費'].sum()

In [ ]:
# 深夜勤務日数
n_midnight_work = len(df_name_filtered[df_name_filtered['深夜勤務'] == '◯'])

In [ ]:
datum = {
    '氏名':name,
    '総労働時間':total_working_hour,
    '勤務日数':working_days,
    '交通費':transportation_expense,
    '深夜勤務日数':n_midnight_work,
}

In [ ]:
datum

In [21]:
# 勤務時間を計算する関数 ※勤務時間カラムを引数に設定する。
def to_hour(df):
    hour = int(df_name_filtered['勤務時間'].sum()/60)
    minute = df_name_filtered['勤務時間'].sum()%60
    total_working_hour = f'{hour}:{minute}'
    return total_working_hour

wb_members = openpyxl.load_workbook('従業員集約.xlsx', data_only=True)
names = wb_members.sheetnames

data = []

for name in names:
    df_name = pd.read_excel('従業員集約.xlsx', sheet_name=name)

    start_date = '2021-10-1'
    end_date = '2021-10-31'

    df_name_filtered = df_name[(df_name['日付'] >= start_date) & (df_name['日付'] <= end_date)]
    total_working_hour = df_name_filtered['勤務時間'].sum()
    working_days = len(df_name_filtered[df_name_filtered['勤務時間'] != 0])
    transportation_expense = df_name_filtered['交通費'].sum()
    n_midnight_work = len(df_name_filtered[df_name_filtered['深夜勤務'] == '◯'])

    datum = {
        '氏名':name,
        '総労働時間':total_working_hour,
        '勤務日数':working_days,
        '交通費':transportation_expense,
        '深夜勤務日数':n_midnight_work,
    }
    data.append(datum)

In [55]:
data

[{'氏名': '小宮正毅', '総労働時間': 8370, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 15},
 {'氏名': '森川香音', '総労働時間': 8775, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 12},
 {'氏名': '玉田文月', '総労働時間': 6705, '勤務日数': 12, '交通費': 0, '深夜勤務日数': 0},
 {'氏名': '西野柚葉', '総労働時間': 8505, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 0},
 {'氏名': '柳沢瑠衣', '総労働時間': 8910, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 6},
 {'氏名': '小池隼人', '総労働時間': 7605, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 0},
 {'氏名': '椎名哲也', '総労働時間': 7065, '勤務日数': 12, '交通費': 0, '深夜勤務日数': 6},
 {'氏名': '小森莉紗', '総労働時間': 6480, '勤務日数': 12, '交通費': 0, '深夜勤務日数': 12},
 {'氏名': '海老原有紀', '総労働時間': 8355, '勤務日数': 14, '交通費': 0, '深夜勤務日数': 10},
 {'氏名': '泉雪海', '総労働時間': 8145, '勤務日数': 15, '交通費': 0, '深夜勤務日数': 0}]

In [64]:
df_summary = pd.DataFrame(data)
df_summary

      氏名  総労働時間  勤務日数  交通費  深夜勤務日数
0   小宮正毅   8370    15    0      15
1   森川香音   8775    15    0      12
2   玉田文月   6705    12    0       0
3   西野柚葉   8505    15    0       0
4   柳沢瑠衣   8910    15    0       6
5   小池隼人   7605    15    0       0
6   椎名哲也   7065    12    0       6
7   小森莉紗   6480    12    0      12
8  海老原有紀   8355    14    0      10
9    泉雪海   8145    15    0       0

In [65]:
wb_summary = openpyxl.Workbook()
wb_summary.save('集計.xlsx')

In [74]:
wb_summary = openpyxl.load_workbook('集計.xlsx', data_only=True)
sheet_name = '2021年10月分'
wb_summary.create_sheet(title = sheet_name)
ws_summary = wb_summary[sheet_name]

In [75]:
ws_summary['A1'].value = '氏名'
ws_summary['B1'].value = '総労働時間'
ws_summary['C1'].value = '勤務日数'
ws_summary['D1'].value = '交通費'
ws_summary['E1'].value = '深夜勤務日数'

ws_summary.column_dimensions['A'].width = 10
ws_summary.column_dimensions['B'].width = 10
ws_summary.column_dimensions['C'].width = 10
ws_summary.column_dimensions['D'].width = 10
ws_summary.column_dimensions['E'].width = 10

In [86]:
for index, row  in df_summary.iterrows():
    ws_summary.cell(row = index+2, column = 1).value = row['氏名']
    ws_summary.cell(row = index+2, column = 2).number_format = '[hh]:mm'
    ws_summary.cell(row = index+2, column = 2).value = row['総労働時間']
    ws_summary.cell(row = index+2, column = 3).value = row['勤務日数']
    ws_summary.cell(row = index+2, column = 4).value = row['交通費']
    ws_summary.cell(row = index+2, column = 5).value = row['深夜勤務日数']

In [88]:
wb_summary.save('集計.xlsx')